@page "/ApointmentPage/{id}/{previous?}"

@using Syncfusion.Blazor.Buttons
@inject NavigationManager navManager


<h7>ApointmentPage id = @id</h7>
<p>Navigated from: @previous</p>
<div>
    <SfButton OnClick=@OnClickHandler>Go back</SfButton>
</div>

@code {
    [Parameter]
    public string id { get; set; }

    [Parameter]
    public string previous { get; set; }

    private void OnClickHandler(MouseEventArgs args)
    {
        navManager.NavigateTo(previous);
    }
}
